* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.semaforo {
    width: 500px;
    margin: 40px auto;
}

/*solo los div que son hijos directos de semaforo = semaforo>div*/
/*si fuese semaforo div todos los div dentro de semaforo se pondrian verde, incluidos los circulos*/

.semaforo>div {
    background-color: green;
}

.semaforo div {
    margin: 0 auto;
}

.semaforo .semicirculo {
    width: 40%;
    height: 50px;
    border-radius: 20px 20px 0 0;
}

.semaforo .copete {
    width: 50%;
    height: 30px;
}

.semaforo .cuerpo {
    width: 70%;
    padding: 20px;
}

.semaforo .cuerpo div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.semaforo .cuerpo div:first-child {
    background-color: red;
}

.semaforo .cuerpo div:nth-child(2) {
    background-color: yellow;
}

.semaforo .cuerpo div:last-child {
    background-color: rgb(9, 241, 9);
}

.semaforo .pata {
    height: 400px;
    width: 30px;
}

.semaforo>div:last-child {
    width: 70%;
    height: 30px;
}